In [2]:
people={ ##people is the dictionary, first last goals are keys and values(messi,etc) are stored in lists
    "first":['Lionel','Cristiano','Mohamed'],
    "last":['Messi','Ronaldo','Salah'],
    "goals":['60','53','35'],
    
}

In [3]:
import pandas as pd

In [4]:
people['first']

['Lionel', 'Cristiano', 'Mohamed']

In [5]:
df=pd.DataFrame(people)

In [6]:
df

       first     last goals
0     Lionel    Messi    60
1  Cristiano  Ronaldo    53
2    Mohamed    Salah    35

In [7]:
df['first']

0       Lionel
1    Cristiano
2      Mohamed
Name: first, dtype: object

In [8]:
# type((df['first']))           ##so the values returned of first from the dataframe is of SERIES TYPE,series is basically rows of data of a similar type of data

In [9]:
df[['first','goals']]

       first goals
0     Lionel    60
1  Cristiano    53
2    Mohamed    35

In [11]:
df.columns

Index(['first', 'last', 'goals'], dtype='object')

In [14]:
##for rows we have loc and iloc attributes
df.loc[[1,2],'goals']

1    53
2    35
Name: goals, dtype: object

In [15]:
df['goals']

0    60
1    53
2    35
Name: goals, dtype: object